In [1]:
from pathlib import Path
from dotenv import load_dotenv

import pandas as pd
import glob
import os

load_dotenv("../.env")

True

In [2]:
DATA_CSV = Path("../data/csv/")

# Level 2: Processing CSV

**Note**  
Low level dataframes processing (like converting datetimes, filtering, dropping duplicates, sorting) is done in the previous notebook. Here we assume that the data is already cleaned and ready for further processing.

In [3]:
csv_paths = glob.glob(os.path.join(DATA_CSV, "*.csv"))
for path in csv_paths:
    df = pd.read_csv(path)
    print(df)

                       time  CEU Temperature (1)  P&IDH Temperature (2)  \
0       2023-09-01 00:00:03                -20.0                  -19.0
1       2023-09-01 00:01:03                -20.0                  -19.0
2       2023-09-01 00:02:03                -20.0                  -19.0
3       2023-09-01 00:03:03                -20.0                  -18.0
4       2023-09-01 00:04:03                -20.0                  -19.0
...                     ...                  ...                    ...
356649  2024-05-07 15:33:21                -13.0                  -11.0
356650  2024-05-07 15:34:21                -13.0                  -11.0
356651  2024-05-07 15:35:21                -13.0                  -11.0
356652  2024-05-07 15:36:21                -13.0                  -11.0
356653  2024-05-07 15:37:21                -13.0                  -11.0

        EDH Temperature (3)  DDH Temperature (4)  PCU Temperature (5)
0                     -18.0                -20.0                -19.0
1                     -18.0                -20.0                -19.0
2                     -18.0                -20.0                -19.0
3                     -18.0                -20.0                -19.0
4                     -18.0                -20.0                -19.0
...                     ...                  ...                  ...
356649                -11.0                -13.0                -12.0
356650                -11.0                -13.0                -12.0
356651                -11.0                -13.0                -12.0
356652                -11.0                -13.0                -12.0
356653                -11.0                -13.0                -12.0

[356654 rows x 6 columns]
                        time  bin  value
0        2023-09-01 00:00:56    1      6
1        2023-09-01 00:00:56    2    222
2        2023-09-01 00:00:56    3     27
3        2023-09-01 00:00:56    4     21
4        2023-09-01 00:00:56    5     18
...                      ...  ...    ...
3209548  2024-05-07 15:36:46    4     25
3209549  2024-05-07 15:36:46    5     19
3209550  2024-05-07 15:36:46    6     29
3209551  2024-05-07 15:36:46    7     25
3209552  2024-05-07 15:36:46    9      0

[3209553 rows x 3 columns]
                        time  bin  value
0        2023-09-01 00:00:56    1      5
1        2023-09-01 00:00:56    2     16
2        2023-09-01 00:00:56    3     28
3        2023-09-01 00:00:56    4     11
4        2023-09-01 00:00:56    5     18
...                      ...  ...    ...
3209548  2024-05-07 15:36:46    4     10
3209549  2024-05-07 15:36:46    5     11
3209550  2024-05-07 15:36:46    6     23
3209551  2024-05-07 15:36:46    7    101
3209552  2024-05-07 15:36:46    9      0

[3209553 rows x 3 columns]
                         time  bin  value
0         2023-09-01 00:00:56    1      1
1         2023-09-01 00:00:56   31      1
2         2023-09-01 00:00:56   30      5
3         2023-09-01 00:00:56   29      2
4         2023-09-01 00:00:56   28      2
...                       ...  ...    ...
11055122  2024-05-07 15:36:46    2      0
11055123  2024-05-07 15:36:46    1      0
11055124  2024-05-07 15:36:46   30      0
11055125  2024-05-07 15:36:46   15      1
11055126  2024-05-07 15:36:46   31      1

[11055127 rows x 3 columns]
                        time  bin  value
0        2023-09-01 00:00:56    1      0
1        2023-09-01 00:00:56    2      1
2        2023-09-01 00:00:56    3      0
3        2023-09-01 00:00:56    4      0
4        2023-09-01 00:00:56    5      0
...                      ...  ...    ...
2852931  2024-05-07 15:36:46    3      0
2852932  2024-05-07 15:36:46    4      0
2852933  2024-05-07 15:36:46    5      0
2852934  2024-05-07 15:36:46    6      0
2852935  2024-05-07 15:36:46    8      0

[2852936 rows x 3 columns]
                       time  value
0       2023-09-01 00:00:56      6
1       2023-09-01 00:01:56      6
2       2023-09-01 00:02:56      6
3       2023-09-01 00:03:56      6
4       2023-09-01 00:04:56      7
...                     ...    ...
356612  2024-05-07 15:32:46      6
356613  2024-05-07 15:33:46      6
356614  2024-05-07 15:34:46      5
356615  2024-05-07 15:35:46      6
356616  2024-05-07 15:36:46      5

[356617 rows x 2 columns]
                       time  value
0       2023-09-01 00:00:56     20
1       2023-09-01 00:01:56     18
2       2023-09-01 00:02:56     19
3       2023-09-01 00:03:56     20
4       2023-09-01 00:04:56     19
...                     ...    ...
356612  2024-05-07 15:32:46     26
356613  2024-05-07 15:33:46     27
356614  2024-05-07 15:34:46     27
356615  2024-05-07 15:35:46     27
356616  2024-05-07 15:36:46     27

[356617 rows x 2 columns]
                       time  value
0       2023-09-01 00:00:56      1
1       2023-09-01 00:01:56      1
2       2023-09-01 00:02:56      1
3       2023-09-01 00:03:56      0
4       2023-09-01 00:04:56      0
...                     ...    ...
356612  2024-05-07 15:32:46      0
356613  2024-05-07 15:33:46      0
356614  2024-05-07 15:34:46      0
356615  2024-05-07 15:35:46      0
356616  2024-05-07 15:36:46      0

[356617 rows x 2 columns]
                       time  CEU Temperature (1)  P&IDH Temperature (2)  \
0       2023-09-01 00:00:03                -20.0                  -19.0
1       2023-09-01 00:01:03                -20.0                  -19.0
2       2023-09-01 00:02:03                -20.0                  -19.0
3       2023-09-01 00:03:03                -20.0                  -18.0
4       2023-09-01 00:04:03                -20.0                  -19.0
...                     ...                  ...                    ...
366146  2024-05-14 05:50:34                -13.0                  -11.0
366147  2024-05-14 05:51:34                -13.0                  -11.0
366148  2024-05-14 05:52:34                -13.0                  -11.0
366149  2024-05-14 05:53:35                -13.0                  -11.0
366150  2024-05-14 05:54:34                -13.0                  -11.0

        EDH Temperature (3)  DDH Temperature (4)  PCU Temperature (5)
0                     -18.0                -20.0                -19.0
1                     -18.0                -20.0                -19.0
2                     -18.0                -20.0                -19.0
3                     -18.0                -20.0                -19.0
4                     -18.0                -20.0                -19.0
...                     ...                  ...                  ...
366146                -11.0                -13.0                -12.0
366147                -11.0                -13.0                -12.0
366148                -11.0                -13.0                -11.0
366149                -11.0                -13.0                -11.0
366150                -11.0                -13.0                -12.0

[366151 rows x 6 columns]
                        time  bin  value
0        2023-09-01 00:00:56    1      6
1        2023-09-01 00:00:56    2    222
2        2023-09-01 00:00:56    3     27
3        2023-09-01 00:00:56    4     21
4        2023-09-01 00:00:56    5     18
...                      ...  ...    ...
3295030  2024-05-14 05:54:59    4     96
3295031  2024-05-14 05:54:59    5     25
3295032  2024-05-14 05:54:59    6     27
3295033  2024-05-14 05:54:59    7     24
3295034  2024-05-14 05:54:59    9      0

[3295035 rows x 3 columns]
                        time  bin  value
0        2023-09-01 00:00:56    1      5
1        2023-09-01 00:00:56    2     16
2        2023-09-01 00:00:56    3     28
3        2023-09-01 00:00:56    4     11
4        2023-09-01 00:00:56    5     18
...                      ...  ...    ...
3295030  2024-05-14 05:54:59    4     13
3295031  2024-05-14 05:54:59    5     17
3295032  2024-05-14 05:54:59    6     28
3295033  2024-05-14 05:54:59    7    103
3295034  2024-05-14 05:54:59    9      0

[3295035 rows x 3 columns]
                         time  bin  value
0         2023-09-01 00:00:56    1      1
1         2023-09-01 00:00:56   31      1
2         2023-09-01 00:00:56   30      5
3         2023-09-01 00:00:56   29      2
4         2023-09-01 00:00:56   28      2
...                       ...  ...    ...
11349560  2024-05-14 05:54:59    2      4
11349561  2024-05-14 05:54:59    1      1
11349562  2024-05-14 05:54:59   30      3
11349563  2024-05-14 05:54:59   15      2
11349564  2024-05-14 05:54:59   31      1

[11349565 rows x 3 columns]
                        time  bin  value
0        2023-09-01 00:00:56    1      0
1        2023-09-01 00:00:56    2      1
2        2023-09-01 00:00:56    3      0
3        2023-09-01 00:00:56    4      0
4        2023-09-01 00:00:56    5      0
...                      ...  ...    ...
2928915  2024-05-14 05:54:59    7      0
2928916  2024-05-14 05:54:59    2     61
2928917  2024-05-14 05:54:59    1      0
2928918  2024-05-14 05:54:59    3      0
2928919  2024-05-14 05:54:59    8      0

[2928920 rows x 3 columns]
                       time  value
0       2023-09-01 00:00:56      6
1       2023-09-01 00:01:56      6
2       2023-09-01 00:02:56      6
3       2023-09-01 00:03:56      6
4       2023-09-01 00:04:56      7
...                     ...    ...
366110  2024-05-14 05:50:59     50
366111  2024-05-14 05:51:59     52
366112  2024-05-14 05:52:59     51
366113  2024-05-14 05:53:59     49
366114  2024-05-14 05:54:59     49

[366115 rows x 2 columns]
                       time  value
0       2023-09-01 00:00:56     20
1       2023-09-01 00:01:56     18
2       2023-09-01 00:02:56     19
3       2023-09-01 00:03:56     20
4       2023-09-01 00:04:56     19
...                     ...    ...
366110  2024-05-14 05:50:59     33
366111  2024-05-14 05:51:59     31
366112  2024-05-14 05:52:59     34
366113  2024-05-14 05:53:59     51
366114  2024-05-14 05:54:59     35

[366115 rows x 2 columns]
                       time  value
0       2023-09-01 00:00:56      1
1       2023-09-01 00:01:56      1
2       2023-09-01 00:02:56      1
3       2023-09-01 00:03:56      0
4       2023-09-01 00:04:56      0
...                     ...    ...
366110  2024-05-14 05:50:59      1
366111  2024-05-14 05:51:59      1
366112  2024-05-14 05:52:59      1
366113  2024-05-14 05:53:59      1
366114  2024-05-14 05:54:59      1

[366115 rows x 2 columns]